
@media screen and (min-width: 750px) {
    #container {
        width: 700px;
    }
}

@media screen and (min-width: 450px) {
    .reservation-in-table {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .client-in-reservation-list-in-table {
        width: 100%;
    }
    .bookedHours-in-reservation-list-in-table {
        min-width: 130px;
    }
}